$background: rgb(245, 245, 235);

$background_head: rgb(250, 250, 250);

$text_color_1: rgb(110, 100, 100);
$text_color_2: rgb(241, 241, 241);
$text_color_3: rgb(215, 60, 75);
$text_color_4: rgb(80, 70, 70);
$text_color_5: rgb(140, 140, 140);

$color: rgb(205, 50, 65);
