#footer {
	width: 100%;
	height: 12em;
	.footer_container {
		width: 73%;
		height: 100%;
		margin: 0 auto;
		padding: 5em 1em;
		.footer_wrapper {
			text-align: center;
			.share {
				.footer_title {
					display: inline-block;
					padding: 0.5em;
					margin: 0 0 20px 0;
					font-size: 2em;
			    color: $text_color_3;
			    text-transform: uppercase;
				}
				ul {
					margin: 0;
					list-style: none;
					li {
						display: inline-block;
    				margin: 4px 2px;
						a {
							box-sizing: border-box;
							display: inline-block;
							width: 50px;
							height: 50px;
							border-radius: 3px;
							background: rgba(227, 227, 215, 0.5);
							line-height: 50px;
							color: $text_color_1;
							font-size: 30px;
							text-align: center;
							text-decoration: none;
							transition: all 250ms ease-out 10ms;
							&:hover, &:focus {
								background-color: $text_color_3;
								color: $background;
								outline: none;
							}
						}
					}
				}
			}
		}
		.NameDeveloper {
			width: 100%;
			height: 1.5em;
			margin-top: 4em;
			text-align: center;
		}
	}
}
