#full_screen {
	position: relative;
	width: 100%;
	height: calc(100vh - 6em);
	margin-top: 6em;
	overflow: hidden;
	background: url('../img/005.jpg')	50% 50% no-repeat;
	background-size: cover;
	box-shadow: 2px 2px 2px $text_color_3;
	text-align: center;
	.full_screen-text {
		margin: 25vh auto;
		text-align: center;
		h2 {
			color: white;
			font-size: 3.5em;
    	line-height: 2em;
			&:after {
				content: "";
				width: 10%;
				margin: 0 auto;
				display: block;
				border-bottom: 2px solid $text_color_2;
			}
		}
		p {
			color: white;
			font-size: 1.5em;
	    line-height: 2em;
	    font-weight: normal;
		}
	}
}
