#header {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  display: flex;
  padding: 1.5em 1em;
  background: $background_head;
  transition: all 600ms ease-out 15ms;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  line-height: 1em;
  z-index: 999;
  &.less {
    margin-top: 0;
    padding: .5em 1em;
  }
  .header-title {
    width: 40%;
    display: inline-block;
    a {
      padding: 0.75em 1em;
      display: block;
      text-decoration: none;
      text-align: left;
      cursor: pointer;
      h1 {
        margin: 0;
        color: $text_color_3;
        font-size: 3em;
      }
    }
  }
  .header-link {
    width: 60%;
    height: 100%;
    display: inline-block;
    text-align: right;
    .link {
      display: inline-block;
      padding: 1em 0.5em;
      color: $text_color_1;
      font-size: 1em;
      border-radius: 3px;
      text-transform: uppercase;
      text-decoration: none;
    }
    .usual:hover {
      padding: calc(.75em - 2px ) calc(0.5em - 1px);
      border: 1px solid $text_color_3;
    }
    .house:hover {
      color: $text_color_3;
    }
  }
}
