.img_block {
	width: 100%;
	text-align: center;
	margin-bottom: 5em;

	.btn_toggle_cell {
		width: auto;
    display: block;
    margin: .25em 0;
    padding: .25em;
    text-decoration: none;
    text-transform: uppercase;
		box-shadow: 0 2px $text_color_2 ,0 3px $text_color_2 - 29;
		text-align: left;
		font-size: 1.5em;
		color: $text_color_5;
		i {
			font-size: 0.75em;
    	padding: 0 1em 0 0;
		}
	}
	.catalog_cell {
		display: none;
		.catalog_cell_elem {
			height: 18em;
			margin: 0.25em 0.25em 0;
			display: inline-block;
			.catalog_img {
				height: 100%;
			}
		}
	}
	.palette_cell {
		width: 7em;
		height: 7em;
		margin: 0.25em 0.25em 0;
		display: inline-block;
		.palette_img {
			height: 100%;
		}
	}
}
.column_img_block {
	width: 100%;
	display: table;
	.column_cell-right,
	.column_cell-left {
		width: calc(50% - 2em );
		margin: 1.5em 1em 0.5em;
		display: inline-block;
		.column_cell_img {
			overflow: hidden;
			font-family: Roboto Slab;
			text-align: center;
			color: $text_color_1;
			background: $background_head + 5;
			.column_img {
				width: 100%;
				min-height: 100%;
				max-height: 15em;
			}
			h3 {
				margin: 1em 0;
				font-size: 1.5em;
			}
			p {
				height: 6em;
				padding: 0 0.5em;
				overflow: auto;
			}
			.morecontent span {
				display: none;
			}
			.morelink {
				display: block;
				font-size: 3em;
				text-decoration: none;
				color: $text_color_3;
				&:hover {
					color: $text_color_3 - 50;
				}
			}
		}
	}
}
