//Desktop

@media screen and (max-width: 65em) {
  font-size: 85%;
  #wrapper {
    #wrapper_container {
      width: 100%;
    }
  }
}

@media screen and (max-width: 60em) {
  font-size: 80%;
  #header {
  display: block;
    .header-title, .header-link {
      width: 100%;
      text-align: center;
    }
    .header-title {
      padding: 0;
      a {
        h1 {
          padding: 0 0 0.25em 0;
          text-align: center;
        }
      }
    }
  }
  #wrapper {
    #full_screen {
      height: calc(100vh - 9em);
      margin-top: 9em;
      .full_screen-text {
        margin: 25vh auto;
      }
    }
    #wrapper_container {
      margin: 9em 0 0 0;
      padding: .5em 1em;
      .column_img_block {
        width: 75%;
        display: block;
        margin: 0 auto;
        .column_cell-left, .column_cell-right {
          width: calc(100% - 2em );
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: 38em) {
  #header {
    h1 {
      font-size: 2em;
    }
  }
  #wrapper {
    #wrapper_container {
      .column_img_block {
        width: 100%;
        .column_cell-left, .column_cell-right {
          width: calc(100% - 2em );
          display: block;
        }
      }
    }
  }
}

//Mobil

@media only handheld {

  #footer {
    .footer_container {
      width: 100%;
    }
  }

  /* Headings */
  h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab", Georgia, Times, serif;
    margin: .25em 0;
  }

  h1 {
    font-size: 1.5em;
    font-weight: normal;
  }

  h2, h3 {
    line-height: 1em;
    font-size: .75em;
    font-weight: normal;
  }

  h4, h5 {
    font-size: .5em;
    font-weight: normal;
  }

  h6 {
    font-size: .25em;
    font-weight: normal;
  }

  /* Text elements */
  p {
    margin-bottom: 2em;
  }

}
