body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(230, 230, 230);
  font-family: 'Roboto', Arial, Verdana, sans-serif;
}

.register_form, .login_form {
  position: absolute;
  top: 50%; left: 50%;
  width: 25rem;
  height: auto;
  transform: translate(-50%,-50%);
  text-align: right;
  .head-form {
    text-align: center;
    padding: .5em .5em 1.5em .5em;
    h1 {
      display: block;
    	font-family: HouseCasual;
      font-size: 4em;
    }
  }
  .input-form {
    input:-webkit-autofill {
      box-shadow: inset 0 0 0 1000px rgb(230, 230, 230);
    }
    input {
      width: calc(100% - 0.5em );
      height: 3rem;
      padding: 0 .25em;
      //margin: 0 0 .5em 0;
      background-color: transparent;
      outline: none;
      border: none;
      border-bottom: 1px solid rgb(158, 158, 158);
      font-size: 1rem;
      box-shadow: none;
      box-sizing: content-box;
      transition: all .3s;
      &:focus:not([readonly]) {
        border-bottom: 1px solid rgb(38, 166, 154);
        box-shadow: 0 1px 0 0 rgb(38, 166, 154), inset 0 0 0 1000px rgb(230, 230, 230);
      }
    }
  }
  .btn-form {
  	width: 100%;
  	margin-top: 1em;
  	display: inline-block;
  	text-align: right;
  	button, a, input {
  	  width: calc( 49% - .5em );
  		padding: 0;
  		margin: 0 .25em;
  		display: inline-block;
  	  background-color: rgb(38, 166, 154);
  	  color: white;
  	  line-height: 2em;
  	  font-size: 1.25em;
  	  text-align: center;
  		text-decoration: none;
  	  text-transform: uppercase;
  	  vertical-align: middle;
  	  letter-spacing: .5px;
  		border: 0;
  		border-radius: 2px;
  	  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  	  transition: all .3s ease-out;
  		&:hover {
  			background-color: rgb(43, 187, 173);
  			box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  		}
  		&:focus{
  			outline: none;
  		}
  	}
  }
}
/* dialogs */

.std42-dialog {
  background-color: rgb(237, 237, 237);
  background-image: none;
  background-clip: content-box;
  .ui-widget-content {
    background-color: rgb(237, 237, 237);
    background-image: none;
    background-clip: content-box;
  }
}

/* navbar */

.elfinder .elfinder-navbar {
  background: rgb(221, 228, 235);
}

.elfinder-navbar {
  .ui-state-hover {
    color: rgb(0, 0, 0);
    background-color: rgb(236, 240, 244);
    border-color: rgb(189, 203, 215);
  }
  .ui-state-active {
    background: rgb(56, 117, 215);
    border-color: rgb(56, 117, 215);
    color: rgb(255, 255, 255);
  }
  .elfinder-droppable-active {
    background: rgb(168, 199, 230) !important;
  }
}

/* disabled elfinder */

.elfinder-disabled .elfinder-navbar .ui-state-active {
  background: rgb(218, 218, 218);
  border-color: rgb(170, 170, 170);
  color: rgb(255, 255, 255);
}

/* current directory */
/* selected file in "icons" view */

.elfinder-cwd-view-icons .elfinder-cwd-file .ui-state-hover {
  background: rgb(204, 204, 204);
}

/* list view*/

.elfinder-cwd {
  table {
    thead td.ui-state-hover {
      background: rgb(221, 221, 221);
    }
    tr {
      &:nth-child(odd) {
        background-color: rgb(237, 243, 254);
      }
      border: 1px solid transparent;
      border-top: 1px solid rgb(255, 255, 255);
    }
  }
  .elfinder-droppable-active td {
    background: rgb(168, 199, 230) !important;
  }
}

/* common selected background/color */

.elfinder-cwd-view-icons .elfinder-cwd-file .elfinder-cwd-filename.ui-state-hover, .elfinder-cwd table td.ui-state-hover, .elfinder-button-menu .ui-state-hover {
  background: rgb(56, 117, 215);
  color: rgb(255, 255, 255);
}

/* disabled elfinder */

.elfinder-disabled {
  .elfinder-cwd-view-icons .elfinder-cwd-file .elfinder-cwd-filename.ui-state-hover, .elfinder-cwd table td.ui-state-hover {
    background: rgb(218, 218, 218);
  }
}

/* statusbar */

.elfinder .elfinder-statusbar {
  color: rgb(85, 85, 85);
  a {
    text-decoration: none;
    color: rgb(85, 85, 85);
  }
}

.std42-dialog .elfinder-help {
  background: rgb(255, 255, 255);
  .ui-widget-content {
    background: rgb(255, 255, 255);
  }
}

/* contextmenu */

.elfinder-contextmenu .ui-state-hover {
  background: rgb(56, 117, 215);
  color: rgb(255, 255, 255);
  .elfinder-contextmenu-arrow {
    background-image: url('../img/arrows-active.png');
  }
}
