@charset "utf-8";

@import "compass";
@import "compass/reset";
@import "_colors";

*{
	box-sizing: border-box;

	&::-webkit-scrollbar-track
	{
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		background-color: rgb(245, 245, 245);
	}
	&::-webkit-scrollbar
	{
		width: .5em;
		background-color: rgb(245, 245, 245);
	}
	&::-webkit-scrollbar-thumb
	{
		background-color: rgb(0, 170, 238);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)),color-stop(.5, transparent), to(transparent));
		border-radius: 1em;
	}

}

body {
	width: 100%;
	height: 100%;
	background: $background;
	overflow-x: hidden;
	.schema {
		display: none;
	}

	@import "_header";
	@import "_full_screen_img";
	@import "_wrapper";
	@import "_footer";

	@import "_media_screen";

}

@import "_fonts";
