body {
  height: 100%;
  background-color: #e6e6e6;
  font-family: 'Roboto', Arial, Verdana, sans-serif;
}

.register_form, .login_form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25rem;
  height: auto;
  transform: translate(-50%, -50%);
  text-align: right;
}
.register_form .head-form, .login_form .head-form {
  text-align: center;
  padding: .5em .5em 1.5em .5em;
}
.register_form .head-form h1, .login_form .head-form h1 {
  display: block;
  font-family: HouseCasual;
  font-size: 4em;
}
.register_form .input-form input:-webkit-autofill, .login_form .input-form input:-webkit-autofill {
  box-shadow: inset 0 0 0 1000px #e6e6e6;
}
.register_form .input-form input, .login_form .input-form input {
  width: calc(100% - 0.5em );
  height: 3rem;
  padding: 0 .25em;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  font-size: 1rem;
  box-shadow: none;
  box-sizing: content-box;
  transition: all .3s;
}
.register_form .input-form input:focus:not([readonly]), .login_form .input-form input:focus:not([readonly]) {
  border-bottom: 1px solid #26a69a;
  box-shadow: 0 1px 0 0 #26a69a, inset 0 0 0 1000px #e6e6e6;
}
.register_form .btn-form, .login_form .btn-form {
  width: 100%;
  margin-top: 1em;
  display: inline-block;
  text-align: right;
}
.register_form .btn-form button, .register_form .btn-form a, .login_form .btn-form button, .login_form .btn-form a {
  width: calc(49% - .5em );
  padding: 0;
  margin: 0 .25em;
  display: inline-block;
  background-color: #26a69a;
  color: white;
  line-height: 2em;
  font-size: 1.25em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  letter-spacing: .5px;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all .3s ease-out;
}
.register_form .btn-form button:hover, .register_form .btn-form a:hover, .login_form .btn-form button:hover, .login_form .btn-form a:hover {
  background-color: #2bbbad;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.register_form .btn-form button:focus, .register_form .btn-form a:focus, .login_form .btn-form button:focus, .login_form .btn-form a:focus {
  outline: none;
}

/* dialogs */
.std42-dialog {
  background-color: #ededed;
  background-image: none;
  background-clip: content-box;
}
.std42-dialog .ui-widget-content {
  background-color: #ededed;
  background-image: none;
  background-clip: content-box;
}

/* navbar */
.elfinder .elfinder-navbar {
  background: #dde4eb;
}

.elfinder-navbar .ui-state-hover {
  color: black;
  background-color: #ecf0f4;
  border-color: #bdcbd7;
}
.elfinder-navbar .ui-state-active {
  background: #3875d7;
  border-color: #3875d7;
  color: white;
}
.elfinder-navbar .elfinder-droppable-active {
  background: #a8c7e6 !important;
}

/* disabled elfinder */
.elfinder-disabled .elfinder-navbar .ui-state-active {
  background: #dadada;
  border-color: #aaaaaa;
  color: white;
}

/* current directory */
/* selected file in "icons" view */
.elfinder-cwd-view-icons .elfinder-cwd-file .ui-state-hover {
  background: #cccccc;
}

/* list view*/
.elfinder-cwd table thead td.ui-state-hover {
  background: #dddddd;
}
.elfinder-cwd table tr {
  border: 1px solid transparent;
  border-top: 1px solid white;
}
.elfinder-cwd table tr:nth-child(odd) {
  background-color: #edf3fe;
}
.elfinder-cwd .elfinder-droppable-active td {
  background: #a8c7e6 !important;
}

/* common selected background/color */
.elfinder-cwd-view-icons .elfinder-cwd-file .elfinder-cwd-filename.ui-state-hover, .elfinder-cwd table td.ui-state-hover, .elfinder-button-menu .ui-state-hover {
  background: #3875d7;
  color: white;
}

/* disabled elfinder */
.elfinder-disabled .elfinder-cwd-view-icons .elfinder-cwd-file .elfinder-cwd-filename.ui-state-hover, .elfinder-disabled .elfinder-cwd table td.ui-state-hover {
  background: #dadada;
}

/* statusbar */
.elfinder .elfinder-statusbar {
  color: #555555;
}
.elfinder .elfinder-statusbar a {
  text-decoration: none;
  color: #555555;
}

.std42-dialog .elfinder-help {
  background: white;
}
.std42-dialog .elfinder-help .ui-widget-content {
  background: white;
}

/* contextmenu */
.elfinder-contextmenu .ui-state-hover {
  background: #3875d7;
  color: white;
}
.elfinder-contextmenu .ui-state-hover .elfinder-contextmenu-arrow {
  background-image: url("../img/arrows-active.png");
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", Georgia, Times, serif;
}

h1 {
  font-size: 28px;
  font-weight: normal;
  margin: .25em 0;
}

h2, h3 {
  font-size: 20px;
  font-weight: normal;
  margin: .25em 0;
}

h4, h5 {
  font-size: 16px;
  font-weight: normal;
  margin: .25em 0;
}

h6 {
  font-size: 14px;
  font-weight: normal;
  margin: .25em 0;
}

/* Text elements */
p {
  margin-bottom: 1em;
}

ul {
  margin: 0 0 1em 2em;
  list-style: disc;
}
ul ul {
  list-style: square;
}
ul ul ul {
  list-style: circle;
}

li {
  line-height: 1.25em;
}
li > ul, li > ol {
  margin-bottom: 0;
  margin-left: 27px;
}

b, strong {
  font-weight: bold;
}

@font-face {
  font-family: 'HouseCasual';
  src: url("../fonts/HouseCasual/vRlnOGIt.eot?v=4.3.0");
  src: url("../fonts/HouseCasual/vRlnOGIt.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("../fonts/HouseCasual/vRlnOGIt.woff?v=4.3.0") format("woff"), url("../fonts/HouseCasual/vRlnOGIt.ttf?v=4.3.0") format("truetype"), url("../fonts/HouseCasual/vRlnOGIt.svg?v=4.3.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OCR-A';
  src: url("../fonts/OCR-A/vRlnOGIt.eot?v=4.3.0");
  src: url("../fonts/HouseCasual/vRlnOGIt.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("../fonts/OCR-A/OCR-A.woff?v=4.3.0") format("woff"), url("../fonts/OCR-A/OCR-A.ttf?v=4.3.0") format("truetype"), url("../fonts/HouseCasual/vRlnOGIt.svg?v=4.3.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/IcoMoon/icomoon.eot?qz25z0");
  src: url("../fonts/IcoMoon/icomoon.eot?qz25z0#iefix") format("embedded-opentype"), url("../fonts/IcoMoon/icomoon.ttf?qz25z0") format("truetype"), url("../fonts/IcoMoon/icomoon.woff?qz25z0") format("woff"), url("../fonts/IcoMoon/icomoon.svg?qz25z0#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon-ok:before {
  content: "\e909";
}

.icon-ok-alternitive:before {
  content: "\eaee";
}

.icon-vk:before {
  content: "\e900";
}

.icon-vk-with-circle:before {
  content: "\e901";
}

.icon-vk-alternitive:before {
  content: "\e902";
}

.icon-home:before {
  content: "\e90c";
}

.icon-home2:before {
  content: "\e90d";
}

.icon-home3:before {
  content: "\e90e";
}

.icon-office:before {
  content: "\e90f";
}

.icon-newspaper:before {
  content: "\e910";
}

.icon-pencil:before {
  content: "\e911";
}

.icon-pencil2:before {
  content: "\e912";
}

.icon-quill:before {
  content: "\e913";
}

.icon-pen:before {
  content: "\e914";
}

.icon-blog:before {
  content: "\e915";
}

.icon-eyedropper:before {
  content: "\e916";
}

.icon-droplet:before {
  content: "\e917";
}

.icon-paint-format:before {
  content: "\e918";
}

.icon-image:before {
  content: "\e919";
}

.icon-images:before {
  content: "\e91a";
}

.icon-camera:before {
  content: "\e91b";
}

.icon-headphones:before {
  content: "\e91c";
}

.icon-music:before {
  content: "\e91d";
}

.icon-play:before {
  content: "\e91e";
}

.icon-film:before {
  content: "\e91f";
}

.icon-video-camera:before {
  content: "\e920";
}

.icon-dice:before {
  content: "\e921";
}

.icon-pacman:before {
  content: "\e922";
}

.icon-spades:before {
  content: "\e923";
}

.icon-clubs:before {
  content: "\e924";
}

.icon-diamonds:before {
  content: "\e925";
}

.icon-bullhorn:before {
  content: "\e926";
}

.icon-connection:before {
  content: "\e927";
}

.icon-podcast:before {
  content: "\e928";
}

.icon-feed:before {
  content: "\e929";
}

.icon-mic:before {
  content: "\e92a";
}

.icon-book:before {
  content: "\e92b";
}

.icon-books:before {
  content: "\e92c";
}

.icon-library:before {
  content: "\e92d";
}

.icon-file-text:before {
  content: "\e92e";
}

.icon-profile:before {
  content: "\e92f";
}

.icon-file-empty:before {
  content: "\e930";
}

.icon-files-empty:before {
  content: "\e931";
}

.icon-file-text2:before {
  content: "\e932";
}

.icon-file-picture:before {
  content: "\e933";
}

.icon-file-music:before {
  content: "\e934";
}

.icon-file-play:before {
  content: "\e935";
}

.icon-file-video:before {
  content: "\e936";
}

.icon-file-zip:before {
  content: "\e937";
}

.icon-copy:before {
  content: "\e938";
}

.icon-paste:before {
  content: "\e939";
}

.icon-stack:before {
  content: "\e93a";
}

.icon-folder:before {
  content: "\e93b";
}

.icon-folder-open:before {
  content: "\e93c";
}

.icon-folder-plus:before {
  content: "\e93d";
}

.icon-folder-minus:before {
  content: "\e93e";
}

.icon-folder-download:before {
  content: "\e93f";
}

.icon-folder-upload:before {
  content: "\e940";
}

.icon-price-tag:before {
  content: "\e941";
}

.icon-price-tags:before {
  content: "\e942";
}

.icon-barcode:before {
  content: "\e943";
}

.icon-qrcode:before {
  content: "\e944";
}

.icon-ticket:before {
  content: "\e945";
}

.icon-cart:before {
  content: "\e946";
}

.icon-coin-dollar:before {
  content: "\e947";
}

.icon-coin-euro:before {
  content: "\e948";
}

.icon-coin-pound:before {
  content: "\e949";
}

.icon-coin-yen:before {
  content: "\e94a";
}

.icon-credit-card:before {
  content: "\e94b";
}

.icon-calculator:before {
  content: "\e94c";
}

.icon-lifebuoy:before {
  content: "\e94d";
}

.icon-phone:before {
  content: "\e94e";
}

.icon-phone-hang-up:before {
  content: "\e94f";
}

.icon-address-book:before {
  content: "\e950";
}

.icon-envelop:before {
  content: "\e951";
}

.icon-pushpin:before {
  content: "\e952";
}

.icon-location:before {
  content: "\e953";
}

.icon-location2:before {
  content: "\e954";
}

.icon-compass:before {
  content: "\e955";
}

.icon-compass2:before {
  content: "\e956";
}

.icon-map:before {
  content: "\e957";
}

.icon-map2:before {
  content: "\e958";
}

.icon-history:before {
  content: "\e959";
}

.icon-clock:before {
  content: "\e95a";
}

.icon-clock2:before {
  content: "\e95b";
}

.icon-alarm:before {
  content: "\e95c";
}

.icon-bell:before {
  content: "\e95d";
}

.icon-stopwatch:before {
  content: "\e95e";
}

.icon-calendar:before {
  content: "\e95f";
}

.icon-printer:before {
  content: "\e960";
}

.icon-keyboard:before {
  content: "\e961";
}

.icon-display:before {
  content: "\e962";
}

.icon-laptop:before {
  content: "\e963";
}

.icon-mobile:before {
  content: "\e964";
}

.icon-mobile2:before {
  content: "\e965";
}

.icon-tablet:before {
  content: "\e966";
}

.icon-tv:before {
  content: "\e967";
}

.icon-drawer:before {
  content: "\e968";
}

.icon-drawer2:before {
  content: "\e969";
}

.icon-box-add:before {
  content: "\e96a";
}

.icon-box-remove:before {
  content: "\e96b";
}

.icon-download:before {
  content: "\e96c";
}

.icon-upload:before {
  content: "\e96d";
}

.icon-floppy-disk:before {
  content: "\e96e";
}

.icon-drive:before {
  content: "\e96f";
}

.icon-database:before {
  content: "\e970";
}

.icon-undo:before {
  content: "\e971";
}

.icon-redo:before {
  content: "\e972";
}

.icon-undo2:before {
  content: "\e973";
}

.icon-redo2:before {
  content: "\e974";
}

.icon-forward:before {
  content: "\e975";
}

.icon-reply:before {
  content: "\e976";
}

.icon-bubble:before {
  content: "\e977";
}

.icon-bubbles:before {
  content: "\e978";
}

.icon-bubbles2:before {
  content: "\e979";
}

.icon-bubble2:before {
  content: "\e97a";
}

.icon-bubbles3:before {
  content: "\e97b";
}

.icon-bubbles4:before {
  content: "\e97c";
}

.icon-user:before {
  content: "\e97d";
}

.icon-users:before {
  content: "\e97e";
}

.icon-user-plus:before {
  content: "\e97f";
}

.icon-user-minus:before {
  content: "\e980";
}

.icon-user-check:before {
  content: "\e981";
}

.icon-user-tie:before {
  content: "\e982";
}

.icon-quotes-left:before {
  content: "\e983";
}

.icon-quotes-right:before {
  content: "\e984";
}

.icon-hour-glass:before {
  content: "\e985";
}

.icon-spinner:before {
  content: "\e986";
}

.icon-spinner2:before {
  content: "\e987";
}

.icon-spinner3:before {
  content: "\e988";
}

.icon-spinner4:before {
  content: "\e989";
}

.icon-spinner5:before {
  content: "\e98a";
}

.icon-spinner6:before {
  content: "\e98b";
}

.icon-spinner7:before {
  content: "\e98c";
}

.icon-spinner8:before {
  content: "\e98d";
}

.icon-spinner9:before {
  content: "\e98e";
}

.icon-spinner10:before {
  content: "\e98f";
}

.icon-spinner11:before {
  content: "\e990";
}

.icon-binoculars:before {
  content: "\e991";
}

.icon-search:before {
  content: "\e992";
}

.icon-zoom-in:before {
  content: "\e993";
}

.icon-zoom-out:before {
  content: "\e994";
}

.icon-enlarge:before {
  content: "\e995";
}

.icon-shrink:before {
  content: "\e996";
}

.icon-enlarge2:before {
  content: "\e997";
}

.icon-shrink2:before {
  content: "\e998";
}

.icon-key:before {
  content: "\e999";
}

.icon-key2:before {
  content: "\e99a";
}

.icon-lock:before {
  content: "\e99b";
}

.icon-unlocked:before {
  content: "\e99c";
}

.icon-wrench:before {
  content: "\e99d";
}

.icon-equalizer:before {
  content: "\e99e";
}

.icon-equalizer2:before {
  content: "\e99f";
}

.icon-cog:before {
  content: "\e9a0";
}

.icon-cogs:before {
  content: "\e9a1";
}

.icon-hammer:before {
  content: "\e9a2";
}

.icon-magic-wand:before {
  content: "\e9a3";
}

.icon-aid-kit:before {
  content: "\e9a4";
}

.icon-bug:before {
  content: "\e9a5";
}

.icon-pie-chart:before {
  content: "\e9a6";
}

.icon-stats-dots:before {
  content: "\e9a7";
}

.icon-stats-bars:before {
  content: "\e9a8";
}

.icon-stats-bars2:before {
  content: "\e9a9";
}

.icon-trophy:before {
  content: "\e9aa";
}

.icon-gift:before {
  content: "\e9ab";
}

.icon-glass:before {
  content: "\e9ac";
}

.icon-glass2:before {
  content: "\e9ad";
}

.icon-mug:before {
  content: "\e9ae";
}

.icon-spoon-knife:before {
  content: "\e9af";
}

.icon-leaf:before {
  content: "\e9b0";
}

.icon-rocket:before {
  content: "\e9b1";
}

.icon-meter:before {
  content: "\e9b2";
}

.icon-meter2:before {
  content: "\e9b3";
}

.icon-hammer2:before {
  content: "\e9b4";
}

.icon-fire:before {
  content: "\e9b5";
}

.icon-lab:before {
  content: "\e9b6";
}

.icon-magnet:before {
  content: "\e9b7";
}

.icon-bin:before {
  content: "\e9b8";
}

.icon-bin2:before {
  content: "\e9b9";
}

.icon-briefcase:before {
  content: "\e9ba";
}

.icon-airplane:before {
  content: "\e9bb";
}

.icon-truck:before {
  content: "\e9bc";
}

.icon-road:before {
  content: "\e9bd";
}

.icon-accessibility:before {
  content: "\e9be";
}

.icon-target:before {
  content: "\e9bf";
}

.icon-shield:before {
  content: "\e9c0";
}

.icon-power:before {
  content: "\e9c1";
}

.icon-switch:before {
  content: "\e9c2";
}

.icon-power-cord:before {
  content: "\e9c3";
}

.icon-clipboard:before {
  content: "\e9c4";
}

.icon-list-numbered:before {
  content: "\e9c5";
}

.icon-list:before {
  content: "\e9c6";
}

.icon-list2:before {
  content: "\e9c7";
}

.icon-tree:before {
  content: "\e9c8";
}

.icon-menu:before {
  content: "\e9c9";
}

.icon-menu2:before {
  content: "\e9ca";
}

.icon-menu3:before {
  content: "\e9cb";
}

.icon-menu4:before {
  content: "\e9cc";
}

.icon-cloud:before {
  content: "\e9cd";
}

.icon-cloud-download:before {
  content: "\e9ce";
}

.icon-cloud-upload:before {
  content: "\e9cf";
}

.icon-cloud-check:before {
  content: "\e9d0";
}

.icon-download2:before {
  content: "\e9d1";
}

.icon-upload2:before {
  content: "\e9d2";
}

.icon-download3:before {
  content: "\e9d3";
}

.icon-upload3:before {
  content: "\e9d4";
}

.icon-sphere:before {
  content: "\e9d5";
}

.icon-earth:before {
  content: "\e9d6";
}

.icon-link:before {
  content: "\e9d7";
}

.icon-flag:before {
  content: "\e9d8";
}

.icon-attachment:before {
  content: "\e9d9";
}

.icon-eye:before {
  content: "\e9da";
}

.icon-eye-plus:before {
  content: "\e9db";
}

.icon-eye-minus:before {
  content: "\e9dc";
}

.icon-eye-blocked:before {
  content: "\e9dd";
}

.icon-bookmark:before {
  content: "\e9de";
}

.icon-bookmarks:before {
  content: "\e9df";
}

.icon-sun:before {
  content: "\e9e0";
}

.icon-contrast:before {
  content: "\e9e1";
}

.icon-brightness-contrast:before {
  content: "\e9e2";
}

.icon-star-empty:before {
  content: "\e9e3";
}

.icon-star-half:before {
  content: "\e9e4";
}

.icon-star-full:before {
  content: "\e9e5";
}

.icon-heart:before {
  content: "\e9e6";
}

.icon-heart-broken:before {
  content: "\e9e7";
}

.icon-man:before {
  content: "\e9e8";
}

.icon-woman:before {
  content: "\e9e9";
}

.icon-man-woman:before {
  content: "\e9ea";
}

.icon-happy:before {
  content: "\e9eb";
}

.icon-happy2:before {
  content: "\e9ec";
}

.icon-smile:before {
  content: "\e9ed";
}

.icon-smile2:before {
  content: "\e9ee";
}

.icon-tongue:before {
  content: "\e9ef";
}

.icon-tongue2:before {
  content: "\e9f0";
}

.icon-sad:before {
  content: "\e9f1";
}

.icon-sad2:before {
  content: "\e9f2";
}

.icon-wink:before {
  content: "\e9f3";
}

.icon-wink2:before {
  content: "\e9f4";
}

.icon-grin:before {
  content: "\e9f5";
}

.icon-grin2:before {
  content: "\e9f6";
}

.icon-cool:before {
  content: "\e9f7";
}

.icon-cool2:before {
  content: "\e9f8";
}

.icon-angry:before {
  content: "\e9f9";
}

.icon-angry2:before {
  content: "\e9fa";
}

.icon-evil:before {
  content: "\e9fb";
}

.icon-evil2:before {
  content: "\e9fc";
}

.icon-shocked:before {
  content: "\e9fd";
}

.icon-shocked2:before {
  content: "\e9fe";
}

.icon-baffled:before {
  content: "\e9ff";
}

.icon-baffled2:before {
  content: "\ea00";
}

.icon-confused:before {
  content: "\ea01";
}

.icon-confused2:before {
  content: "\ea02";
}

.icon-neutral:before {
  content: "\ea03";
}

.icon-neutral2:before {
  content: "\ea04";
}

.icon-hipster:before {
  content: "\ea05";
}

.icon-hipster2:before {
  content: "\ea06";
}

.icon-wondering:before {
  content: "\ea07";
}

.icon-wondering2:before {
  content: "\ea08";
}

.icon-sleepy:before {
  content: "\ea09";
}

.icon-sleepy2:before {
  content: "\ea0a";
}

.icon-frustrated:before {
  content: "\ea0b";
}

.icon-frustrated2:before {
  content: "\ea0c";
}

.icon-crying:before {
  content: "\ea0d";
}

.icon-crying2:before {
  content: "\ea0e";
}

.icon-point-up:before {
  content: "\ea0f";
}

.icon-point-right:before {
  content: "\ea10";
}

.icon-point-down:before {
  content: "\ea11";
}

.icon-point-left:before {
  content: "\ea12";
}

.icon-warning:before {
  content: "\ea13";
}

.icon-notification:before {
  content: "\ea14";
}

.icon-question:before {
  content: "\ea15";
}

.icon-plus:before {
  content: "\ea16";
}

.icon-minus:before {
  content: "\ea17";
}

.icon-info:before {
  content: "\ea18";
}

.icon-cancel-circle:before {
  content: "\ea19";
}

.icon-blocked:before {
  content: "\ea1a";
}

.icon-cross:before {
  content: "\ea1b";
}

.icon-checkmark:before {
  content: "\ea1c";
}

.icon-checkmark2:before {
  content: "\ea1d";
}

.icon-spell-check:before {
  content: "\ea1e";
}

.icon-enter:before {
  content: "\ea1f";
}

.icon-exit:before {
  content: "\ea20";
}

.icon-play2:before {
  content: "\ea21";
}

.icon-pause:before {
  content: "\ea22";
}

.icon-stop:before {
  content: "\ea23";
}

.icon-previous:before {
  content: "\ea24";
}

.icon-next:before {
  content: "\ea25";
}

.icon-backward:before {
  content: "\ea26";
}

.icon-forward2:before {
  content: "\ea27";
}

.icon-play3:before {
  content: "\ea28";
}

.icon-pause2:before {
  content: "\ea29";
}

.icon-stop2:before {
  content: "\ea2a";
}

.icon-backward2:before {
  content: "\ea2b";
}

.icon-forward3:before {
  content: "\ea2c";
}

.icon-first:before {
  content: "\ea2d";
}

.icon-last:before {
  content: "\ea2e";
}

.icon-previous2:before {
  content: "\ea2f";
}

.icon-next2:before {
  content: "\ea30";
}

.icon-eject:before {
  content: "\ea31";
}

.icon-volume-high:before {
  content: "\ea32";
}

.icon-volume-medium:before {
  content: "\ea33";
}

.icon-volume-low:before {
  content: "\ea34";
}

.icon-volume-mute:before {
  content: "\ea35";
}

.icon-volume-mute2:before {
  content: "\ea36";
}

.icon-volume-increase:before {
  content: "\ea37";
}

.icon-volume-decrease:before {
  content: "\ea38";
}

.icon-loop:before {
  content: "\ea39";
}

.icon-loop2:before {
  content: "\ea3a";
}

.icon-infinite:before {
  content: "\ea3b";
}

.icon-shuffle:before {
  content: "\ea3c";
}

.icon-arrow-up-left:before {
  content: "\ea3d";
}

.icon-arrow-up:before {
  content: "\ea3e";
}

.icon-arrow-up-right:before {
  content: "\ea3f";
}

.icon-arrow-right:before {
  content: "\ea40";
}

.icon-arrow-down-right:before {
  content: "\ea41";
}

.icon-arrow-down:before {
  content: "\ea42";
}

.icon-arrow-down-left:before {
  content: "\ea43";
}

.icon-arrow-left:before {
  content: "\ea44";
}

.icon-arrow-up-left2:before {
  content: "\ea45";
}

.icon-arrow-up2:before {
  content: "\ea46";
}

.icon-arrow-up-right2:before {
  content: "\ea47";
}

.icon-arrow-right2:before {
  content: "\ea48";
}

.icon-arrow-down-right2:before {
  content: "\ea49";
}

.icon-arrow-down2:before {
  content: "\ea4a";
}

.icon-arrow-down-left2:before {
  content: "\ea4b";
}

.icon-arrow-left2:before {
  content: "\ea4c";
}

.icon-circle-up:before {
  content: "\ea4d";
}

.icon-circle-right:before {
  content: "\ea4e";
}

.icon-circle-down:before {
  content: "\ea4f";
}

.icon-circle-left:before {
  content: "\ea50";
}

.icon-tab:before {
  content: "\ea51";
}

.icon-move-up:before {
  content: "\ea52";
}

.icon-move-down:before {
  content: "\ea53";
}

.icon-sort-alpha-asc:before {
  content: "\ea54";
}

.icon-sort-alpha-desc:before {
  content: "\ea55";
}

.icon-sort-numeric-asc:before {
  content: "\ea56";
}

.icon-sort-numberic-desc:before {
  content: "\ea57";
}

.icon-sort-amount-asc:before {
  content: "\ea58";
}

.icon-sort-amount-desc:before {
  content: "\ea59";
}

.icon-command:before {
  content: "\ea5a";
}

.icon-shift:before {
  content: "\ea5b";
}

.icon-ctrl:before {
  content: "\ea5c";
}

.icon-opt:before {
  content: "\ea5d";
}

.icon-checkbox-checked:before {
  content: "\ea5e";
}

.icon-checkbox-unchecked:before {
  content: "\ea5f";
}

.icon-radio-checked:before {
  content: "\ea60";
}

.icon-radio-checked2:before {
  content: "\ea61";
}

.icon-radio-unchecked:before {
  content: "\ea62";
}

.icon-crop:before {
  content: "\ea63";
}

.icon-make-group:before {
  content: "\ea64";
}

.icon-ungroup:before {
  content: "\ea65";
}

.icon-scissors:before {
  content: "\ea66";
}

.icon-filter:before {
  content: "\ea67";
}

.icon-font:before {
  content: "\ea68";
}

.icon-ligature:before {
  content: "\ea69";
}

.icon-ligature2:before {
  content: "\ea6a";
}

.icon-text-height:before {
  content: "\ea6b";
}

.icon-text-width:before {
  content: "\ea6c";
}

.icon-font-size:before {
  content: "\ea6d";
}

.icon-bold:before {
  content: "\ea6e";
}

.icon-underline:before {
  content: "\ea6f";
}

.icon-italic:before {
  content: "\ea70";
}

.icon-strikethrough:before {
  content: "\ea71";
}

.icon-omega:before {
  content: "\ea72";
}

.icon-sigma:before {
  content: "\ea73";
}

.icon-page-break:before {
  content: "\ea74";
}

.icon-superscript:before {
  content: "\ea75";
}

.icon-subscript:before {
  content: "\ea76";
}

.icon-superscript2:before {
  content: "\ea77";
}

.icon-subscript2:before {
  content: "\ea78";
}

.icon-text-color:before {
  content: "\ea79";
}

.icon-pagebreak:before {
  content: "\ea7a";
}

.icon-clear-formatting:before {
  content: "\ea7b";
}

.icon-table:before {
  content: "\ea7c";
}

.icon-table2:before {
  content: "\ea7d";
}

.icon-insert-template:before {
  content: "\ea7e";
}

.icon-pilcrow:before {
  content: "\ea7f";
}

.icon-ltr:before {
  content: "\ea80";
}

.icon-rtl:before {
  content: "\ea81";
}

.icon-section:before {
  content: "\ea82";
}

.icon-paragraph-left:before {
  content: "\ea83";
}

.icon-paragraph-center:before {
  content: "\ea84";
}

.icon-paragraph-right:before {
  content: "\ea85";
}

.icon-paragraph-justify:before {
  content: "\ea86";
}

.icon-indent-increase:before {
  content: "\ea87";
}

.icon-indent-decrease:before {
  content: "\ea88";
}

.icon-share:before {
  content: "\ea89";
}

.icon-new-tab:before {
  content: "\ea8a";
}

.icon-embed:before {
  content: "\ea8b";
}

.icon-embed2:before {
  content: "\ea8c";
}

.icon-terminal:before {
  content: "\ea8d";
}

.icon-share2:before {
  content: "\ea8e";
}

.icon-mail:before {
  content: "\ea8f";
}

.icon-mail2:before {
  content: "\ea90";
}

.icon-mail3:before {
  content: "\ea91";
}

.icon-mail4:before {
  content: "\ea92";
}

.icon-google:before {
  content: "\ea93";
}

.icon-google-plus:before {
  content: "\e903";
}

.icon-google-plus2:before {
  content: "\e904";
}

.icon-google-plus3:before {
  content: "\e905";
}

.icon-google-drive:before {
  content: "\ea94";
}

.icon-facebook:before {
  content: "\e906";
}

.icon-facebook2:before {
  content: "\e907";
}

.icon-facebook3:before {
  content: "\e908";
}

.icon-ello:before {
  content: "\ea95";
}

.icon-instagram:before {
  content: "\ea96";
}

.icon-twitter:before {
  content: "\eaef";
}

.icon-twitter2:before {
  content: "\e90a";
}

.icon-twitter3:before {
  content: "\e90b";
}

.icon-feed2:before {
  content: "\ea97";
}

.icon-feed3:before {
  content: "\ea98";
}

.icon-feed4:before {
  content: "\ea99";
}

.icon-youtube:before {
  content: "\ea9a";
}

.icon-youtube2:before {
  content: "\ea9b";
}

.icon-youtube3:before {
  content: "\ea9c";
}

.icon-youtube4:before {
  content: "\ea9d";
}

.icon-twitch:before {
  content: "\ea9e";
}

.icon-vimeo:before {
  content: "\ea9f";
}

.icon-vimeo2:before {
  content: "\eaa0";
}

.icon-vimeo3:before {
  content: "\eaa1";
}

.icon-lanyrd:before {
  content: "\eaa2";
}

.icon-flickr:before {
  content: "\eaa3";
}

.icon-flickr2:before {
  content: "\eaa4";
}

.icon-flickr3:before {
  content: "\eaa5";
}

.icon-flickr4:before {
  content: "\eaa6";
}

.icon-picassa:before {
  content: "\eaa7";
}

.icon-picassa2:before {
  content: "\eaa8";
}

.icon-dribbble:before {
  content: "\eaa9";
}

.icon-dribbble2:before {
  content: "\eaaa";
}

.icon-dribbble3:before {
  content: "\eaab";
}

.icon-forrst:before {
  content: "\eaac";
}

.icon-forrst2:before {
  content: "\eaad";
}

.icon-deviantart:before {
  content: "\eaae";
}

.icon-deviantart2:before {
  content: "\eaaf";
}

.icon-steam:before {
  content: "\eab0";
}

.icon-steam2:before {
  content: "\eab1";
}

.icon-dropbox:before {
  content: "\eab2";
}

.icon-onedrive:before {
  content: "\eab3";
}

.icon-github:before {
  content: "\eab4";
}

.icon-github2:before {
  content: "\eab5";
}

.icon-github3:before {
  content: "\eab6";
}

.icon-github4:before {
  content: "\eab7";
}

.icon-github5:before {
  content: "\eab8";
}

.icon-wordpress:before {
  content: "\eab9";
}

.icon-wordpress2:before {
  content: "\eaba";
}

.icon-joomla:before {
  content: "\eabb";
}

.icon-blogger:before {
  content: "\eabc";
}

.icon-blogger2:before {
  content: "\eabd";
}

.icon-tumblr:before {
  content: "\eabe";
}

.icon-tumblr2:before {
  content: "\eabf";
}

.icon-yahoo:before {
  content: "\eac0";
}

.icon-tux:before {
  content: "\eac1";
}

.icon-apple:before {
  content: "\eac2";
}

.icon-finder:before {
  content: "\eac3";
}

.icon-android:before {
  content: "\eac4";
}

.icon-windows:before {
  content: "\eac5";
}

.icon-windows8:before {
  content: "\eac6";
}

.icon-soundcloud:before {
  content: "\eac7";
}

.icon-soundcloud2:before {
  content: "\eac8";
}

.icon-skype:before {
  content: "\eac9";
}

.icon-reddit:before {
  content: "\eaca";
}

.icon-linkedin:before {
  content: "\eacb";
}

.icon-linkedin2:before {
  content: "\eacc";
}

.icon-lastfm:before {
  content: "\eacd";
}

.icon-lastfm2:before {
  content: "\eace";
}

.icon-delicious:before {
  content: "\eacf";
}

.icon-stumbleupon:before {
  content: "\ead0";
}

.icon-stumbleupon2:before {
  content: "\ead1";
}

.icon-stackoverflow:before {
  content: "\ead2";
}

.icon-pinterest:before {
  content: "\ead3";
}

.icon-pinterest2:before {
  content: "\ead4";
}

.icon-xing:before {
  content: "\ead5";
}

.icon-xing2:before {
  content: "\ead6";
}

.icon-flattr:before {
  content: "\ead7";
}

.icon-foursquare:before {
  content: "\ead8";
}

.icon-paypal:before {
  content: "\ead9";
}

.icon-paypal2:before {
  content: "\eada";
}

.icon-paypal3:before {
  content: "\eadb";
}

.icon-yelp:before {
  content: "\eadc";
}

.icon-file-pdf:before {
  content: "\eadd";
}

.icon-file-openoffice:before {
  content: "\eade";
}

.icon-file-word:before {
  content: "\eadf";
}

.icon-file-excel:before {
  content: "\eae0";
}

.icon-libreoffice:before {
  content: "\eae1";
}

.icon-html5:before {
  content: "\eae2";
}

.icon-html52:before {
  content: "\eae3";
}

.icon-css3:before {
  content: "\eae4";
}

.icon-git:before {
  content: "\eae5";
}

.icon-svg:before {
  content: "\eae6";
}

.icon-codepen:before {
  content: "\eae7";
}

.icon-chrome:before {
  content: "\eae8";
}

.icon-firefox:before {
  content: "\eae9";
}

.icon-IE:before {
  content: "\eaea";
}

.icon-opera:before {
  content: "\eaeb";
}

.icon-safari:before {
  content: "\eaec";
}

.icon-IcoMoon:before {
  content: "\eaed";
}

.elfinder-dialog-resize {
  margin-top: .3em;
}

.elfinder-resize-type {
  float: left;
  margin-bottom: .4em;
}

.elfinder-resize-control {
  padding-top: 3em;
}
.elfinder-resize-control input[type=text] {
  border: 1px solid #aaaaaa;
  text-align: right;
}

.elfinder-resize-preview {
  width: 400px;
  height: 400px;
  padding: 10px;
  background: white;
  border: 1px solid #aaaaaa;
  float: right;
  position: relative;
  overflow: auto;
  /*	z-index:100;*/
}

.elfinder-resize-handle {
  position: relative;
}

.elfinder-resize-handle-hline, .elfinder-resize-handle-vline {
  position: absolute;
  background-image: url("../img/crop.gif");
}

.elfinder-resize-handle-hline {
  width: 100%;
  height: 1px !important;
  background-repeat: repeat-x;
}

.elfinder-resize-handle-vline {
  width: 1px !important;
  height: 100%;
  background-repeat: repeat-y;
}

.elfinder-resize-handle-hline-top {
  top: 0;
  left: 0;
}

.elfinder-resize-handle-hline-bottom {
  bottom: 0;
  left: 0;
}

.elfinder-resize-handle-vline-left {
  top: 0;
  left: 0;
}

.elfinder-resize-handle-vline-right {
  top: 0;
  right: 0;
}

.elfinder-resize-handle-point {
  position: absolute;
  width: 8px;
  height: 8px;
  border: 1px solid #777777;
  background: transparent;
}

.elfinder-resize-handle-point-n {
  top: 0;
  left: 50%;
  margin-top: -5px;
  margin-left: -5px;
}

.elfinder-resize-handle-point-ne {
  top: 0;
  right: 0;
  margin-top: -5px;
  margin-right: -5px;
}

.elfinder-resize-handle-point-e {
  top: 50%;
  right: 0;
  margin-top: -5px;
  margin-right: -5px;
}

.elfinder-resize-handle-point-se {
  bottom: 0;
  right: 0;
  margin-bottom: -5px;
  margin-right: -5px;
}

.elfinder-resize-handle-point-s {
  bottom: 0;
  left: 50%;
  margin-bottom: -5px;
  margin-left: -5px;
}

.elfinder-resize-handle-point-sw {
  bottom: 0;
  left: 0;
  margin-bottom: -5px;
  margin-left: -5px;
}

.elfinder-resize-handle-point-w {
  top: 50%;
  left: 0;
  margin-top: -5px;
  margin-left: -5px;
}

.elfinder-resize-handle-point-nw {
  top: 0;
  left: 0;
  margin-top: -5px;
  margin-left: -5px;
}

.elfinder-resize-spinner {
  position: absolute;
  width: 200px;
  height: 30px;
  top: 50%;
  margin-top: -25px;
  left: 50%;
  margin-left: -100px;
  text-align: center;
  background: url(../img/progress.gif) center bottom repeat-x;
}

.elfinder-resize-row {
  margin-bottom: 7px;
  position: relative;
}

.elfinder-resize-label {
  float: left;
  width: 80px;
  padding-top: 3px;
}

.elfinder-resize-reset {
  width: 16px;
  height: 16px;
  /*	border:1px solid rgb(17, 17, 17);*/
  position: absolute;
  margin-top: -8px;
}

.elfinder-dialog .elfinder-dialog-resize .ui-resizable-e {
  height: 100%;
  width: 10px;
}
.elfinder-dialog .elfinder-dialog-resize .ui-resizable-s {
  width: 100%;
  height: 10px;
}
.elfinder-dialog .elfinder-dialog-resize .ui-resizable-se {
  background: transparent;
  bottom: 0;
  right: 0;
  margin-right: -7px;
  margin-bottom: -7px;
}

.elfinder-dialog-resize .ui-icon-grip-solid-vertical {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -8px;
  margin-right: -11px;
}
.elfinder-dialog-resize .ui-icon-grip-solid-horizontal {
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -8px;
  margin-bottom: -11px;
}

.elfinder-resize-row .elfinder-buttonset {
  float: right;
}

.elfinder-resize-rotate-slider {
  float: left;
  width: 195px;
  margin: 7px 7px 0;
}

/********************** COMMAND "EDIT" ****************************/
/* edit text file textarea */
.elfinder-file-edit {
  width: 99%;
  height: 99%;
  margin: 0;
  padding: 2px;
  border: 1px solid #cccccc;
}

/********************** COMMAND "SORT" ****************************/
/* for list table header sort triangle icon */
div.elfinder-cwd-wrapper-list tr.ui-state-default td {
  position: relative;
}
div.elfinder-cwd-wrapper-list tr.ui-state-default td span.ui-icon {
  position: absolute;
  top: 0.4em;
  left: 0;
  right: 0;
  margin: auto 0px auto auto;
}

/********************** COMMAND "HELP" ****************************/
/* help dialog */
.elfinder-help {
  margin-bottom: .5em;
}
.elfinder-help .ui-tabs-panel {
  padding: .5em;
}

/* fix tabs */
.elfinder-dialog .ui-tabs .ui-tabs-nav li a {
  padding: .2em 1em;
}

.elfinder-help-shortcuts {
  height: 300px;
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

.elfinder-help-shortcut {
  white-space: nowrap;
  clear: both;
}

.elfinder-help-shortcut-pattern {
  float: left;
  width: 160px;
}

.elfinder-help-logo {
  width: 100px;
  height: 96px;
  float: left;
  margin-right: 1em;
  background: url("../img/logo.png") center center no-repeat;
}

.elfinder-help h3 {
  font-size: 1.5em;
  margin: .2em 0 .3em 0;
}

.elfinder-help-separator {
  clear: both;
  padding: .5em;
}

.elfinder-help-link {
  padding: 2px;
}

.elfinder-help .ui-priority-secondary {
  font-size: .9em;
}
.elfinder-help .ui-priority-primary {
  margin-bottom: 7px;
}

.elfinder-help-team {
  clear: both;
  text-align: right;
  border-bottom: 1px solid #cccccc;
  margin: .5em 0;
  font-size: .9em;
}
.elfinder-help-team div {
  float: left;
}

.elfinder-help-license {
  font-size: .9em;
}

.elfinder-help-disabled {
  font-weight: bold;
  text-align: center;
  margin: 90px 0;
}

.elfinder-help .elfinder-dont-panic {
  display: block;
  border: 1px solid transparent;
  width: 200px;
  height: 200px;
  margin: 30px auto;
  text-decoration: none;
  text-align: center;
  position: relative;
  background: #d90004;
  -moz-box-shadow: 5px 5px 9px #111111;
  -webkit-box-shadow: 5px 5px 9px #111111;
  box-shadow: 5px 5px 9px #111111;
  background: -moz-radial-gradient(80px 80px, circle farthest-corner, #d90004 35%, #960004 100%);
  background: -webkit-gradient(radial, 80 80, 60, 80 80, 120, from(#d90004), to(#960004));
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  outline: none;
}
.elfinder-help .elfinder-dont-panic span {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  color: white;
  position: absolute;
  left: 0;
  top: 45px;
}

/* File: /css/common.css */
/*********************************************/
/*            COMMON ELFINDER STUFFS         */
/*********************************************/
/* common container */
.elfinder {
  padding: 0;
  position: relative;
  display: block;
}

/* right to left enviroment */
.elfinder-rtl {
  text-align: right;
  direction: rtl;
}

/* nav and cwd container */
.elfinder-workzone {
  padding: 0;
  position: relative;
  overflow: hidden;
}

/* dir/file permissions and symlink markers */
.elfinder-lock, .elfinder-perms, .elfinder-symlink {
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(../img/toolbar.png);
  background-repeat: no-repeat;
  background-position: 0 -528px;
}

/* noaccess */
.elfinder-na .elfinder-perms {
  background-position: 0 -96px;
}

/* read only */
.elfinder-ro .elfinder-perms {
  background-position: 0 -64px;
}

/* write only */
.elfinder-wo .elfinder-perms {
  background-position: 0 -80px;
}

/* locked */
.elfinder-lock {
  background-position: 0 -656px;
}

/* drag helper */
.elfinder-drag-helper {
  width: 70px;
  height: 60px;
  padding: 0 0 0 25px;
  z-index: 100000;
}
.elfinder-drag-helper.html5-native {
  position: absolute;
  top: -1000px;
  left: -1000px;
}

/* drag helper status icon (default no-drop) */
.elfinder-drag-helper-icon-status {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 42px;
  top: 60px;
  background: url("../img/toolbar.png") 0 -96px no-repeat;
  display: block;
}

/* show "up-arrow" icon for move item */
.elfinder-drag-helper-move .elfinder-drag-helper-icon-status {
  background-position: 0 -720px;
}

/* show "plus" icon when ctrl/shift pressed */
.elfinder-drag-helper-plus .elfinder-drag-helper-icon-status {
  background-position: 0 -544px;
}

/* files num in drag helper */
.elfinder-drag-num {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 14px;
  text-align: center;
  padding-top: 2px;
  font-weight: bold;
  color: white;
  background-color: red;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

/* icon in drag helper */
.elfinder-drag-helper .elfinder-cwd-icon {
  margin: 0 0 0 -24px;
  float: left;
}

/* transparent overlay >_< */
/*.elfinder-overlay { opacity: 0; filter:Alpha(Opacity=0); }*/
.elfinder-overlay {
  position: absolute;
}

/* panels under/below cwd (for search field etc) */
.elfinder .elfinder-panel {
  position: relative;
  background-image: none;
  padding: 7px 12px;
}

/* for html5 drag and drop */
[draggable=true] {
  -khtml-user-drag: element;
}

/* File: /css/contextmenu.css */
/* menu and submenu */
.elfinder-contextmenu {
  display: none;
  position: absolute;
  border: 1px solid #aaaaaa;
  background: white;
  color: #111111;
  padding: 4px 0;
}

.elfinder-contextmenu-sub {
  display: none;
  position: absolute;
  border: 1px solid #aaaaaa;
  background: white;
  color: #555555;
  padding: 4px 0;
  top: 5px;
}

/* submenu */
/* submenu in rtl/ltr enviroment */
.elfinder-contextmenu-ltr .elfinder-contextmenu-sub {
  margin-left: -5px;
}

.elfinder-contextmenu-rtl .elfinder-contextmenu-sub {
  margin-right: -5px;
}

/* menu item */
.elfinder-contextmenu-item {
  position: relative;
  display: block;
  padding: 4px 30px;
  text-decoration: none;
  white-space: nowrap;
  cursor: default;
}
.elfinder-contextmenu-item .ui-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 2px;
  top: 50%;
  margin-top: -8px;
  display: none;
}
.elfinder-contextmenu-item.elfinder-touch {
  padding: 12px 30px;
}

/* text in item */
.elfinder-contextmenu .elfinder-contextmenu-item span {
  display: block;
}

/* submenu item in rtl/ltr enviroment */
.elfinder-contextmenu-ltr .elfinder-contextmenu-item {
  text-align: left;
}

.elfinder-contextmenu-rtl .elfinder-contextmenu-item {
  text-align: right;
}

.elfinder-contextmenu-ltr .elfinder-contextmenu-sub .elfinder-contextmenu-item {
  padding-left: 12px;
}

.elfinder-contextmenu-rtl .elfinder-contextmenu-sub .elfinder-contextmenu-item {
  padding-right: 12px;
}

/* command/submenu icon */
.elfinder-contextmenu-extra-icon, .elfinder-contextmenu-arrow, .elfinder-contextmenu-icon {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  overflow: hidden;
}

/* command icon in rtl/ltr enviroment */
.elfinder-contextmenu-ltr .elfinder-contextmenu-icon {
  left: 8px;
}

.elfinder-contextmenu-rtl .elfinder-contextmenu-icon, .elfinder-contextmenu-ltr .elfinder-contextmenu-extra-icon {
  right: 8px;
}

.elfinder-contextmenu-rtl .elfinder-contextmenu-extra-icon {
  left: 8px;
}

/* arrow icon */
.elfinder-contextmenu-arrow {
  width: 16px;
  height: 16px;
  background: url("../img/arrows-normal.png") 5px 4px no-repeat;
}

/* arrow icon in rtl/ltr enviroment */
.elfinder-contextmenu-ltr .elfinder-contextmenu-arrow {
  right: 5px;
}

.elfinder-contextmenu-rtl .elfinder-contextmenu-arrow {
  left: 5px;
  background-position: 0 -10px;
}

/* command extra icon's <a> tag */
.elfinder-contextmenu-extra-icon a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 20px;
  margin: 0;
  color: transparent !important;
  text-decoration: none;
}

/* disable ui border/bg image on hover */
.elfinder-contextmenu .ui-state-hover {
  border: 0 solid;
  background-image: none;
}

/* separator */
.elfinder-contextmenu-separator {
  height: 0px;
  border-top: 1px solid #cccccc;
  margin: 0 1px;
}

/* File: /css/cwd.css */
/******************************************************************/
/*                     CURRENT DIRECTORY STYLES                   */
/******************************************************************/
/* cwd container to avoid selectable on scrollbar */
.elfinder-cwd-wrapper {
  overflow: auto;
  position: relative;
  padding: 2px;
  margin: 0;
}

.elfinder-cwd-wrapper-list {
  padding: 0;
}

/* container */
.elfinder-cwd {
  position: relative;
  cursor: default;
  padding: 0;
  margin: 0;
  -ms-touch-action: auto;
  touch-action: auto;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
}

/* container active on dropenter */
.elfinder .elfinder-cwd-wrapper.elfinder-droppable-active {
  outline: 2px solid #8cafed;
  outline-offset: -2px;
}

/************************** ICONS VIEW ********************************/
/* file container */
.elfinder-cwd-view-icons .elfinder-cwd-file {
  width: 120px;
  height: 80px;
  padding-bottom: 2px;
  cursor: default;
  border: none;
  /*	overflow:hidden;*/
  /*	position:relative;*/
}

/* ltr/rtl enviroment */
.elfinder-ltr .elfinder-cwd-view-icons .elfinder-cwd-file {
  float: left;
  margin: 0 3px 12px 0;
}

.elfinder-rtl .elfinder-cwd-view-icons .elfinder-cwd-file {
  float: right;
  margin: 0 0 5px 3px;
}

/* remove ui hover class border */
.elfinder-cwd-view-icons .elfinder-cwd-file .ui-state-hover {
  border: 0 solid;
}
.elfinder-cwd-view-icons .elfinder-cwd-file-wrapper {
  width: 52px;
  height: 52px;
  margin: 1px auto 1px auto;
  padding: 2px;
  position: relative;
}
.elfinder-cwd-view-icons .elfinder-cwd-filename {
  text-align: center;
  max-height: 32px;
  white-space: pre-wrap;
  word-break: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  margin: 3px 1px 0 1px;
  padding: 1px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.elfinder-cwd-view-icons .elfinder-perms {
  bottom: 4px;
  right: 2px;
}
.elfinder-cwd-view-icons .elfinder-lock {
  top: -3px;
  right: -2px;
}
.elfinder-cwd-view-icons .elfinder-symlink {
  bottom: 6px;
  left: 0px;
}

/* icon wrapper to create selected highlight around icon */
/* file name place */
/* permissions/symlink markers */
/* icon/thumbnail */
.elfinder-cwd-icon {
  display: block;
  width: 48px;
  height: 48px;
  margin: 0 auto;
  background: url("../img/icons-big.png") 0 0 no-repeat;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

/* "opened folder" icon on dragover */
.elfinder-cwd .elfinder-droppable-active .elfinder-cwd-icon {
  background-position: 0 -100px;
}

/* mimetypes icons */
.elfinder-cwd-icon-directory {
  background-position: 0 -50px;
}

.elfinder-cwd-icon-application {
  background-position: 0 -150px;
}

.elfinder-cwd-icon-x-empty, .elfinder-cwd-icon-text {
  background-position: 0  -200px;
}

.elfinder-cwd-icon-image, .elfinder-cwd-icon-vnd-adobe-photoshop, .elfinder-cwd-icon-postscript {
  background-position: 0 -250px;
}

.elfinder-cwd-icon-audio {
  background-position: 0 -300px;
}

.elfinder-cwd-icon-video, .elfinder-cwd-icon-flash-video {
  background-position: 0 -350px;
}

.elfinder-cwd-icon-rtf, .elfinder-cwd-icon-rtfd {
  background-position: 0 -401px;
}

.elfinder-cwd-icon-pdf {
  background-position: 0 -450px;
}

.elfinder-cwd-icon-ms-excel, .elfinder-cwd-icon-msword, .elfinder-cwd-icon-vnd-ms-excel, .elfinder-cwd-icon-vnd-ms-excel-addin-macroEnabled-12, .elfinder-cwd-icon-vnd-ms-excel-sheet-binary-macroEnabled-12, .elfinder-cwd-icon-vnd-ms-excel-sheet-macroEnabled-12, .elfinder-cwd-icon-vnd-ms-excel-template-macroEnabled-12, .elfinder-cwd-icon-vnd-ms-office, .elfinder-cwd-icon-vnd-ms-powerpoint, .elfinder-cwd-icon-vnd-ms-powerpoint-addin-macroEnabled-12, .elfinder-cwd-icon-vnd-ms-powerpoint-presentation-macroEnabled-12, .elfinder-cwd-icon-vnd-ms-powerpoint-slide-macroEnabled-12, .elfinder-cwd-icon-vnd-ms-powerpoint-slideshow-macroEnabled-12, .elfinder-cwd-icon-vnd-ms-powerpoint-template-macroEnabled-12, .elfinder-cwd-icon-vnd-ms-word, .elfinder-cwd-icon-vnd-ms-word-document-macroEnabled-12, .elfinder-cwd-icon-vnd-ms-word-template-macroEnabled-12, .elfinder-cwd-icon-vnd-oasis-opendocument-chart, .elfinder-cwd-icon-vnd-oasis-opendocument-database, .elfinder-cwd-icon-vnd-oasis-opendocument-formula, .elfinder-cwd-icon-vnd-oasis-opendocument-graphics, .elfinder-cwd-icon-vnd-oasis-opendocument-graphics-template, .elfinder-cwd-icon-vnd-oasis-opendocument-image, .elfinder-cwd-icon-vnd-oasis-opendocument-presentation, .elfinder-cwd-icon-vnd-oasis-opendocument-presentation-template, .elfinder-cwd-icon-vnd-oasis-opendocument-spreadsheet, .elfinder-cwd-icon-vnd-oasis-opendocument-spreadsheet-template, .elfinder-cwd-icon-vnd-oasis-opendocument-text, .elfinder-cwd-icon-vnd-oasis-opendocument-text-master, .elfinder-cwd-icon-vnd-oasis-opendocument-text-template, .elfinder-cwd-icon-vnd-oasis-opendocument-text-web, .elfinder-cwd-icon-vnd-openofficeorg-extension, .elfinder-cwd-icon-vnd-openxmlformats-officedocument-presentationml-presentation, .elfinder-cwd-icon-vnd-openxmlformats-officedocument-presentationml-slide, .elfinder-cwd-icon-vnd-openxmlformats-officedocument-presentationml-slideshow, .elfinder-cwd-icon-vnd-openxmlformats-officedocument-presentationml-template, .elfinder-cwd-icon-vnd-openxmlformats-officedocument-spreadsheetml-sheet, .elfinder-cwd-icon-vnd-openxmlformats-officedocument-spreadsheetml-template, .elfinder-cwd-icon-vnd-openxmlformats-officedocument-wordprocessingml-document, .elfinder-cwd-icon-vnd-openxmlformats-officedocument-wordprocessingml-template {
  background-position: 0 -500px;
}

.elfinder-cwd-icon-html {
  background-position: 0 -550px;
}

.elfinder-cwd-icon-css {
  background-position: 0 -600px;
}

.elfinder-cwd-icon-javascript, .elfinder-cwd-icon-x-javascript {
  background-position: 0 -650px;
}

.elfinder-cwd-icon-x-perl {
  background-position: 0 -700px;
}

.elfinder-cwd-icon-x-python {
  background-position: 0 -750px;
}

.elfinder-cwd-icon-x-ruby {
  background-position: 0 -800px;
}

.elfinder-cwd-icon-x-sh, .elfinder-cwd-icon-x-shellscript {
  background-position: 0 -850px;
}

.elfinder-cwd-icon-x-c, .elfinder-cwd-icon-x-csrc, .elfinder-cwd-icon-x-chdr, .elfinder-cwd-icon-x-c--, .elfinder-cwd-icon-x-c--src, .elfinder-cwd-icon-x-c--hdr, .elfinder-cwd-icon-x-java, .elfinder-cwd-icon-x-java-source {
  background-position: 0 -900px;
}

.elfinder-cwd-icon-x-php {
  background-position: 0 -950px;
}

.elfinder-cwd-icon-xml {
  background-position: 0 -1000px;
}

.elfinder-cwd-icon-zip, .elfinder-cwd-icon-x-zip, .elfinder-cwd-icon-x-xz, .elfinder-cwd-icon-x-7z-compressed {
  background-position: 0 -1050px;
}

.elfinder-cwd-icon-x-gzip, .elfinder-cwd-icon-x-tar {
  background-position: 0 -1100px;
}

.elfinder-cwd-icon-x-bzip, .elfinder-cwd-icon-x-bzip2 {
  background-position: 0 -1150px;
}

.elfinder-cwd-icon-x-rar, .elfinder-cwd-icon-x-rar-compressed {
  background-position: 0 -1200px;
}

.elfinder-cwd-icon-x-shockwave-flash {
  background-position: 0 -1250px;
}

.elfinder-cwd-icon-group {
  background-position: 0 -1300px;
}

/* textfield inside icon */
.elfinder-cwd input {
  width: 100%;
  border: 0px solid;
  margin: 0;
  padding: 0;
}

.elfinder-cwd-view-icons {
  text-align: center;
}
.elfinder-cwd-view-icons input {
  text-align: center;
}
.elfinder-cwd-view-icons textarea {
  width: 100%;
  border: 0px solid;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  resize: none;
}

/************************************  LIST VIEW ************************************/
/*.elfinder-cwd-view-list { padding:0 0 4px 0; }*/
.elfinder-cwd table {
  width: 100%;
  border-collapse: separate;
  border: 0 solid;
  margin: 0 0 10px 0;
  border-spacing: 0;
  box-sizing: padding-box;
  padding: 2px;
}

.elfinder .elfinder-cwd table thead tr {
  border-left: 0 solid;
  border-top: 0 solid;
  border-right: 0 solid;
}
.elfinder .elfinder-cwd table thead td {
  padding: 4px 14px;
}
.elfinder .elfinder-cwd table thead td.ui-state-active {
  background: #ebf1f6;
  background: -moz-linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebf1f6), color-stop(50%, #abd3ee), color-stop(51%, #89c3eb), color-stop(100%, #d5ebfb));
  background: -webkit-linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  background: -o-linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  background: -ms-linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  background: linear-gradient(to bottom, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 );
}
.elfinder .elfinder-cwd table td {
  padding: 4px 12px;
  white-space: pre;
  overflow: hidden;
  text-align: right;
  cursor: default;
  border: 0 solid;
}
.elfinder .elfinder-cwd table td div {
  box-sizing: content-box;
}
.elfinder .elfinder-cwd tr.elfinder-touch td {
  padding: 10px 12px;
}
.elfinder .elfinder-cwd tr.elfinder-cwd-file.elfinder-touch td {
  padding: 13px 12px;
}

.elfinder-ltr .elfinder-cwd table td {
  text-align: right;
}
.elfinder-ltr .elfinder-cwd table td:first-child {
  text-align: left;
}

.elfinder-rtl .elfinder-cwd table td {
  text-align: left;
}
.elfinder-rtl .elfinder-cwd table td:first-child {
  text-align: right;
}

.elfinder-odd-row {
  background: #eee;
}

/* filename container */
.elfinder-cwd-view-list .elfinder-cwd-file-wrapper {
  width: 97%;
  position: relative;
}

/* filename container in ltr/rtl enviroment */
.elfinder-ltr .elfinder-cwd-view-list .elfinder-cwd-file-wrapper {
  padding-left: 23px;
}

.elfinder-rtl .elfinder-cwd-view-list .elfinder-cwd-file-wrapper {
  padding-right: 23px;
}

/* premissions/symlink marker */
.elfinder-cwd-view-list .elfinder-perms, .elfinder-cwd-view-list .elfinder-lock, .elfinder-cwd-view-list .elfinder-symlink {
  top: 50%;
  margin-top: -6px;
}

/* markers in ltr/rtl enviroment */
.elfinder-ltr .elfinder-cwd-view-list .elfinder-perms {
  left: 7px;
}
.elfinder-ltr .elfinder-cwd-view-list .elfinder-lock {
  left: 9px;
  top: 0px;
}
.elfinder-ltr .elfinder-cwd-view-list .elfinder-symlink {
  left: -7px;
}

/* file icon */
.elfinder-cwd-view-list td .elfinder-cwd-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  background-image: url(../img/icons-small.png);
}

/* icon in ltr/rtl enviroment */
.elfinder-ltr .elfinder-cwd-view-list .elfinder-cwd-icon {
  left: 0;
}

.elfinder-rtl .elfinder-cwd-view-list .elfinder-cwd-icon {
  right: 0;
}

/* File: /css/dialog.css */
/*********************************************/
/*                DIALOGS STYLES             */
/*********************************************/
/* common dialogs class */
.std42-dialog {
  padding: 0;
  position: absolute;
  left: auto;
  right: auto;
}
.std42-dialog .ui-dialog-titlebar {
  border-left: 0 solid transparent;
  border-top: 0 solid transparent;
  border-right: 0 solid transparent;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  font-weight: normal;
  padding: .2em 1em;
}
.std42-dialog .ui-dialog-titlebar-close {
  padding: 1px;
}
.std42-dialog .ui-dialog-titlebar-close:hover {
  padding: 1px;
}

/* titlebar */
.elfinder-rtl .elfinder-dialog .ui-dialog-titlebar {
  text-align: right;
}
.elfinder-rtl .elfinder-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close {
  right: auto;
  left: .3em;
}

/* content */
.std42-dialog .ui-dialog-content {
  padding: .3em .5em;
}
.std42-dialog .ui-dialog-buttonpane {
  border: 0 solid;
  margin: 0;
  padding: .5em .7em;
}
.std42-dialog .ui-dialog-buttonpane button {
  margin: 0 0 0 .4em;
  padding: 0;
  outline: 0px solid;
}
.std42-dialog .ui-dialog-buttonpane button span {
  padding: 2px 9px;
}
.std42-dialog .ui-dialog-buttonpane button span.ui-icon {
  padding: 2px;
}

/* buttons */
.elfinder-dialog .ui-resizable-e, .elfinder-dialog .ui-resizable-s {
  width: 0;
  height: 0;
}

.std42-dialog .ui-button input {
  cursor: pointer;
}

/* error/notify/confirm dialogs icon */
.elfinder-dialog-icon {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 12px;
  top: 50%;
  margin-top: -15px;
  background: url("../img/dialogs.png") 0 0 no-repeat;
}

.elfinder-rtl .elfinder-dialog-icon {
  left: auto;
  right: 12px;
}

/*********************** ERROR DIALOG **************************/
.elfinder-dialog-error .ui-dialog-content, .elfinder-dialog-confirm .ui-dialog-content {
  padding-left: 56px;
  min-height: 35px;
}

.elfinder-rtl .elfinder-dialog-error .ui-dialog-content, .elfinder-rtl .elfinder-dialog-confirm .ui-dialog-content {
  padding-left: 0;
  padding-right: 56px;
}

/*********************** NOTIFY DIALOG **************************/
.elfinder-dialog-notify .ui-dialog-titlebar-close {
  display: none;
}
.elfinder-dialog-notify .ui-dialog-content {
  padding: 0;
}

/* one notification container */
.elfinder-notify {
  border-bottom: 1px solid #cccccc;
  position: relative;
  padding: .5em;
  text-align: center;
  overflow: hidden;
}

.elfinder-ltr .elfinder-notify {
  padding-left: 30px;
}

.elfinder-rtl .elfinder-notify {
  padding-right: 30px;
}

.elfinder-notify:last-child {
  border: 0 solid;
}

/* progressbar */
.elfinder-notify-progressbar {
  width: 180px;
  height: 8px;
  border: 1px solid #aaaaaa;
  background: #f5f5f5;
  margin: 5px auto;
  overflow: hidden;
}

.elfinder-notify-progress {
  width: 100%;
  height: 8px;
  background: url(../img/progress.gif) center center repeat-x;
}

.elfinder-notify-progressbar, .elfinder-notify-progress {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* icons */
.elfinder-dialog-icon-open, .elfinder-dialog-icon-readdir, .elfinder-dialog-icon-file, .elfinder-dialog-icon-reload {
  background-position: 0 -225px;
}

.elfinder-dialog-icon-mkdir {
  background-position: 0 -64px;
}

.elfinder-dialog-icon-mkfile {
  background-position: 0 -96px;
}

.elfinder-dialog-icon-copy, .elfinder-dialog-icon-prepare, .elfinder-dialog-icon-move {
  background-position: 0 -128px;
}

.elfinder-dialog-icon-upload, .elfinder-dialog-icon-chunkmerge {
  background-position: 0 -160px;
}

.elfinder-dialog-icon-rm {
  background-position: 0 -192px;
}

.elfinder-dialog-icon-download {
  background-position: 0 -260px;
}

.elfinder-dialog-icon-save {
  background-position: 0 -295px;
}

.elfinder-dialog-icon-rename {
  background-position: 0 -330px;
}

.elfinder-dialog-icon-archive, .elfinder-dialog-icon-extract {
  background-position: 0 -365px;
}

.elfinder-dialog-icon-search {
  background-position: 0 -402px;
}

.elfinder-dialog-icon-resize, .elfinder-dialog-icon-loadimg, .elfinder-dialog-icon-netmount, .elfinder-dialog-icon-netunmount, .elfinder-dialog-icon-chmod, .elfinder-dialog-icon-preupload, .elfinder-dialog-icon-dim {
  background-position: 0 -434px;
}

/*********************** CONFIRM DIALOG **************************/
.elfinder-dialog-confirm-applyall {
  padding-top: 3px;
}

.elfinder-dialog-confirm .elfinder-dialog-icon {
  background-position: 0 -32px;
}

/*********************** FILE INFO DIALOG **************************/
.elfinder-info-title .elfinder-cwd-icon {
  float: left;
  width: 48px;
  height: 48px;
  margin-right: 1em;
}
.elfinder-info-title strong {
  display: block;
  padding: .3em 0 .5em 0;
}

.elfinder-info-tb {
  min-width: 200px;
  border: 0 solid;
  margin: 1em .2em 1em .2em;
}
.elfinder-info-tb td {
  white-space: nowrap;
  padding: 2px;
}
.elfinder-info-tb tr td:first-child {
  text-align: right;
}
.elfinder-info-tb span {
  float: left;
}
.elfinder-info-tb a {
  outline: none;
  text-decoration: underline;
}
.elfinder-info-tb a:hover {
  text-decoration: none;
}

.elfinder-info-spinner {
  width: 14px;
  height: 14px;
  float: left;
  background: url("../img/spinner-mini.gif") center center no-repeat;
  margin: 0 5px;
}

.elfinder-netmount-tb {
  margin: 0 auto;
}
.elfinder-netmount-tb input {
  border: 1px solid #cccccc;
}

/*********************** UPLOAD DIALOG **************************/
.elfinder-upload-dropbox {
  text-align: center;
  padding: 2em 0;
  border: 3px dashed #aaaaaa;
  height: 1em;
  overflow: hidden;
}
.elfinder-upload-dropbox.ui-state-hover {
  background: #dfdfdf;
  border: 3px dashed #555555;
}

.elfinder-upload-dialog-or {
  margin: .3em 0;
  text-align: center;
}

.elfinder-upload-dialog-wrapper {
  text-align: center;
}
.elfinder-upload-dialog-wrapper .ui-button {
  position: relative;
  overflow: hidden;
}
.elfinder-upload-dialog-wrapper .ui-button form {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  filter: Alpha(Opacity=0);
}
.elfinder-upload-dialog-wrapper .ui-button form input {
  padding: 0 20px;
  font-size: 3em;
}

/* dialog for elFinder itself */
.dialogelfinder .dialogelfinder-drag {
  border-left: 0 solid;
  border-top: 0 solid;
  border-right: 0 solid;
  font-weight: normal;
  padding: 2px 12px;
  cursor: move;
  position: relative;
  text-align: left;
}

.elfinder-rtl .dialogelfinder-drag {
  text-align: right;
}

.dialogelfinder-drag-close {
  position: absolute;
  top: 50%;
  margin-top: -8px;
}

.elfinder-ltr .dialogelfinder-drag-close {
  right: 12px;
}

.elfinder-rtl .dialogelfinder-drag-close {
  left: 12px;
}

/* File: /css/fonts.css */
.elfinder-contextmenu .elfinder-contextmenu-item span {
  font-size: .76em;
}

.elfinder-cwd-view-icons .elfinder-cwd-filename, .elfinder-cwd-view-list td {
  font-size: .7em;
}

.std42-dialog .ui-dialog-titlebar {
  font-size: .82em;
}
.std42-dialog .ui-dialog-content {
  font-size: .72em;
}
.std42-dialog .ui-dialog-buttonpane {
  font-size: .76em;
}

.elfinder-info-tb {
  font-size: .9em;
}

.elfinder-upload-dropbox, .elfinder-upload-dialog-or {
  font-size: 1.2em;
}

.dialogelfinder .dialogelfinder-drag {
  font-size: .9em;
}

.elfinder .elfinder-navbar {
  font-size: .72em;
}

.elfinder-place-drag .elfinder-navbar-dir {
  font-size: .9em;
}

.elfinder-quicklook-title {
  font-size: .7em;
}

.elfinder-quicklook-info-data {
  font-size: .72em;
}

.elfinder-quicklook-preview-text-wrapper {
  font-size: .9em;
}

.elfinder-button-menu-item {
  font-size: .72em;
}

.elfinder-button-search input {
  font-size: .8em;
}

.elfinder-statusbar div {
  font-size: .7em;
}

.elfinder-drag-num {
  font-size: 12px;
}

/* File: /css/navbar.css */
/*********************************************/
/*              NAVIGATION PANEL             */
/*********************************************/
/* container */
.elfinder .elfinder-navbar {
  width: 230px;
  padding: 3px 5px;
  background-image: none;
  border-top: 0 solid;
  border-bottom: 0 solid;
  overflow: auto;
  display: none;
  position: relative;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /*	border:1px solid rgb(17, 17, 17);*/
  -webkit-touch-callout: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
}

/* ltr/rtl enviroment */
.elfinder-ltr .elfinder-navbar {
  float: left;
  border-left: 0 solid;
}

.elfinder-rtl .elfinder-navbar {
  float: right;
  border-right: 0 solid;
}

.elfinder-ltr .ui-resizable-e {
  margin-left: 10px;
}

/* folders tree container */
.elfinder-tree {
  display: table;
  width: 100%;
  margin: 0 0 .5em 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* one folder wrapper */
/* folder */
.elfinder-navbar-dir {
  position: relative;
  display: block;
  white-space: nowrap;
  padding: 3px 12px;
  margin: 0;
  outline: 0px solid;
  border: 1px solid transparent;
  cursor: default;
}
.elfinder-navbar-dir.elfinder-touch {
  padding: 12px 12px;
}

/* ltr/rtl enviroment */
.elfinder-ltr .elfinder-navbar-dir {
  padding-left: 35px;
}

.elfinder-rtl .elfinder-navbar-dir {
  padding-right: 35px;
}

/* arrow before icon */
.elfinder-navbar-arrow {
  width: 12px;
  height: 14px;
  position: absolute;
  display: none;
  top: 50%;
  margin-top: -8px;
  background-image: url("../img/arrows-normal.png");
  background-repeat: no-repeat;
  /*	border:1px solid rgb(17, 17, 17);*/
}

.ui-state-active .elfinder-navbar-arrow {
  background-image: url("../img/arrows-active.png");
}

/* collapsed/expanded arrow view */
.elfinder-navbar-collapsed .elfinder-navbar-arrow {
  display: block;
}

/* arrow ltr/rtl enviroment */
.elfinder-ltr .elfinder-navbar-collapsed .elfinder-navbar-arrow {
  background-position: 0 4px;
  left: 0;
}

.elfinder-rtl .elfinder-navbar-collapsed .elfinder-navbar-arrow {
  background-position: 0 -10px;
  right: 0;
}

.elfinder-ltr .elfinder-navbar-expanded .elfinder-navbar-arrow, .elfinder-rtl .elfinder-navbar-expanded .elfinder-navbar-arrow {
  background-position: 0 -21px;
}

/* folder icon */
.elfinder-navbar-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  background-image: url("../img/toolbar.png");
  background-repeat: no-repeat;
  background-position: 0 -16px;
}

/* ltr/rtl enviroment */
.elfinder-ltr .elfinder-navbar-icon {
  left: 14px;
}

.elfinder-rtl .elfinder-navbar-icon {
  right: 14px;
}

/* root folder */
.elfinder-tree .elfinder-navbar-root .elfinder-navbar-icon {
  background-position: 0 0;
}

.elfinder-places .elfinder-navbar-root .elfinder-navbar-icon {
  background-position: 0 -704px;
}

/* root icon of each volume */
.elfinder-tree .elfinder-navbar-root-local .elfinder-navbar-icon {
  background-image: url("../img/volume_icon_local.png");
}
.elfinder-tree .elfinder-navbar-root-ftp .elfinder-navbar-icon {
  background-image: url("../img/volume_icon_ftp.png");
}
.elfinder-tree .elfinder-navbar-root-sql .elfinder-navbar-icon {
  background-image: url("../img/volume_icon_sql.png");
}
.elfinder-tree .elfinder-navbar-root-dropbox .elfinder-navbar-icon {
  background-image: url("../img/volume_icon_dropbox.png");
}

/* icon in active/hove/dropactive state */
.ui-state-active .elfinder-navbar-icon, .elfinder-droppable-active .elfinder-navbar-icon, .ui-state-hover .elfinder-navbar-icon {
  background-position: 0 -32px;
}

/* subdirs tree */
.elfinder-navbar-subtree {
  display: none;
}

/* ltr/rtl enviroment */
.elfinder-ltr .elfinder-navbar-subtree {
  margin-left: 12px;
}

.elfinder-rtl .elfinder-navbar-subtree {
  margin-right: 12px;
}

/* spinner */
.elfinder-navbar-spinner {
  width: 14px;
  height: 14px;
  position: absolute;
  display: block;
  top: 50%;
  margin-top: -7px;
  background: url("../img/spinner-mini.gif") center center no-repeat;
}

/* spinner ltr/rtl enviroment */
.elfinder-ltr .elfinder-navbar-spinner {
  left: 0;
  margin-left: -2px;
}

.elfinder-rtl .elfinder-navbar-spinner {
  right: 0;
  margin-right: -2px;
}

/* permissions marker */
.elfinder-navbar .elfinder-perms {
  top: 50%;
  margin-top: -8px;
}
.elfinder-navbar .elfinder-lock {
  top: -2px;
}

/* locked marker */
/* permissions/symlink markers ltr/rtl enviroment */
.elfinder-ltr .elfinder-navbar .elfinder-perms {
  left: 18px;
}

.elfinder-rtl .elfinder-navbar .elfinder-perms {
  right: 18px;
}

.elfinder-ltr .elfinder-navbar .elfinder-lock {
  left: 18px;
}

.elfinder-rtl .elfinder-navbar .elfinder-lock {
  right: 18px;
}

.elfinder-ltr .elfinder-navbar .elfinder-symlink {
  left: 8px;
}

.elfinder-rtl .elfinder-navbar .elfinder-symlink {
  right: 8px;
}

/* navbar input */
.elfinder-navbar input {
  width: 100%;
  border: 0px solid;
  margin: 0;
  padding: 0;
}
.elfinder-navbar .ui-resizable-handle {
  width: 12px;
  background: transparent url("../img/resize.png") center center no-repeat;
}

/* resizable */
.elfinder-nav-handle-icon {
  position: absolute;
  top: 50%;
  margin: -8px 2px 0 2px;
  opacity: .5;
  filter: Alpha(Opacity=50);
}

.elfinder-places {
  border: none;
  margin: 0;
  padding: 0;
}
.elfinder-places.elfinder-droppable-active {
  /*border:1px solid #8cafed;*/
}

/* File: /css/places.css */
/* File: /css/quicklook.css */
/* quicklook window */
.elfinder-quicklook {
  position: absolute;
  background: url("../img/quicklook-bg.png");
  display: none;
  overflow: hidden;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  padding: 20px 0 40px 0;
}
.elfinder-quicklook .ui-resizable-se {
  width: 14px;
  height: 14px;
  right: 5px;
  bottom: 3px;
  background: url("../img/toolbar.png") 0 -496px no-repeat;
}

/* quicklook fullscreen window */
.elfinder-quicklook-fullscreen {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  /*	background-clip:padding-box;*/
  padding: 0;
  background: black;
  z-index: 90000;
  display: block;
}
.elfinder-quicklook-fullscreen .elfinder-quicklook-titlebar {
  display: none;
}
.elfinder-quicklook-fullscreen .elfinder-quicklook-preview {
  border: 0 solid;
}

/* hide titlebar in fullscreen mode */
/* hide preview border in fullscreen mode */
/* quicklook titlebar */
.elfinder-quicklook-titlebar {
  text-align: center;
  background: #777777;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 20px;
  -moz-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
  -moz-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  border-top-right-radius: 7px;
  cursor: move;
}

/* window title */
.elfinder-quicklook-title {
  color: white;
  white-space: nowrap;
  overflow: hidden;
  padding: 2px 0;
}

/* icon "close" in titlebar */
.elfinder-quicklook-titlebar .ui-icon {
  position: absolute;
  left: 4px;
  top: 50%;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  cursor: default;
}

/* main part of quicklook window */
.elfinder-quicklook-preview {
  overflow: hidden;
  position: relative;
  border: 0 solid;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  height: 100%;
}

/* wrapper for file info/icon */
.elfinder-quicklook-info-wrapper {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  margin-top: -50px;
}

/* file info */
.elfinder-quicklook-info {
  padding: 0 12px 0 112px;
}
.elfinder-quicklook-info .elfinder-quicklook-info-data:first-child {
  color: white;
  font-weight: bold;
  padding-bottom: .5em;
}

/* file name in info */
/* other data in info */
.elfinder-quicklook-info-data {
  padding-bottom: .2em;
  color: white;
}

/* file icon */
.elfinder-quicklook .elfinder-cwd-icon {
  position: absolute;
  left: 32px;
  top: 50%;
  margin-top: -20px;
}

/* image in preview */
.elfinder-quicklook-preview img {
  display: block;
  margin: 0 auto;
}

/* navigation bar on quicklook window bottom */
.elfinder-quicklook-navbar {
  position: absolute;
  left: 50%;
  bottom: 4px;
  width: 140px;
  height: 32px;
  padding: 0px;
  margin-left: -70px;
  border: 1px solid transparent;
  border-radius: 19px;
  -moz-border-radius: 19px;
  -webkit-border-radius: 19px;
}

/* navigation bar in fullscreen mode */
.elfinder-quicklook-fullscreen .elfinder-quicklook-navbar {
  width: 188px;
  margin-left: -94px;
  padding: 5px;
  border: 1px solid #eee;
  background: black;
}
.elfinder-quicklook-fullscreen .elfinder-quicklook-navbar-icon-close, .elfinder-quicklook-fullscreen .elfinder-quicklook-navbar-separator {
  display: inline;
}

/* show close icon in fullscreen mode */
/* icons in navbar */
.elfinder-quicklook-navbar-icon {
  width: 32px;
  height: 32px;
  margin: 0 7px;
  float: left;
  background: url("../img/quicklook-icons.png") 0 0 no-repeat;
}

/* fullscreen icon */
.elfinder-quicklook-navbar-icon-fullscreen {
  background-position: 0 -64px;
}

/* exit fullscreen icon */
.elfinder-quicklook-navbar-icon-fullscreen-off {
  background-position: 0 -96px;
}

/* prev file icon */
.elfinder-quicklook-navbar-icon-prev {
  background-position: 0 0;
}

/* next file icon */
.elfinder-quicklook-navbar-icon-next {
  background-position: 0 -32px;
}

/* close icon */
.elfinder-quicklook-navbar-icon-close {
  background-position: 0 -128px;
  display: none;
}

/* icons separator */
.elfinder-quicklook-navbar-separator {
  width: 1px;
  height: 32px;
  float: left;
  border-left: 1px solid white;
  display: none;
}

/* text files preview wrapper */
.elfinder-quicklook-preview-text-wrapper {
  width: 100%;
  height: 100%;
  background: white;
  color: #222222;
  overflow: auto;
}

/* text preview */
pre.elfinder-quicklook-preview-text {
  margin: 0;
  padding: 3px 9px;
}

/* html/pdf preview */
.elfinder-quicklook-preview-html, .elfinder-quicklook-preview-pdf {
  width: 100%;
  height: 100%;
  background: white;
  border: 0 solid;
  margin: 0;
}

/* swf preview container */
.elfinder-quicklook-preview-flash {
  width: 100%;
  height: 100%;
}

/* audio preview container */
.elfinder-quicklook-preview-audio {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* audio preview using embed */
embed.elfinder-quicklook-preview-audio {
  height: 30px;
  background: transparent;
}

/* video preview container */
.elfinder-quicklook-preview-video {
  width: 100%;
  height: 100%;
}

/* File: /css/statusbar.css */
/******************************************************************/
/*                           STATUSBAR STYLES                     */
/******************************************************************/
/* statusbar container */
.elfinder-statusbar {
  text-align: center;
  font-weight: normal;
  padding: .2em .5em;
  border-right: 0 solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 0 solid transparent;
  -webkit-touch-callout: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
}
.elfinder-statusbar a {
  text-decoration: none;
}

/* path in statusbar */
.elfinder-path {
  max-width: 30%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.elfinder-ltr .elfinder-path {
  float: left;
}

.elfinder-rtl .elfinder-path {
  float: right;
}

/* total/selected size in statusbar */
.elfinder-stat-size {
  white-space: nowrap;
}

.elfinder-ltr .elfinder-stat-size {
  float: right;
}

.elfinder-rtl .elfinder-stat-size {
  float: left;
}

.elfinder-stat-selected {
  white-space: nowrap;
  overflow: hidden;
}

/* File: /css/toolbar.css */
/*********************************************/
/*               TOOLBAR STYLES              */
/*********************************************/
/* toolbar container */
.elfinder-toolbar {
  padding: 4px 0 3px 0;
  border-left: 0 solid transparent;
  border-top: 0 solid transparent;
  border-right: 0 solid transparent;
}

/* container for button's group */
.elfinder-buttonset {
  margin: 1px 4px;
  float: left;
  background: transparent;
  padding: 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/*.elfinder-buttonset:first-child { margin:0; }*/
/* button */
.elfinder .elfinder-button {
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 4px;
  float: left;
  overflow: hidden;
  position: relative;
  border: 0 solid;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.elfinder .ui-icon-search {
  cursor: pointer;
}

.elfinder-button:first-child {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.elfinder-button:last-child {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* separator between buttons, required for berder between button with ui color */
.elfinder-toolbar-button-separator {
  float: left;
  padding: 0;
  height: 24px;
  border-top: 0 solid;
  border-right: 0 solid;
  border-bottom: 0 solid;
  width: 0;
}

/* change icon opacity^ not button */
.elfinder .elfinder-button.ui-state-disabled {
  opacity: 1;
  filter: Alpha(Opacity=100);
}
.elfinder .elfinder-button.ui-state-disabled .elfinder-button-icon {
  opacity: .4;
  filter: Alpha(Opacity=40);
}

/* rtl enviroment */
.elfinder-rtl .elfinder-buttonset {
  float: right;
}

/* icon inside button */
.elfinder-button-icon {
  width: 16px;
  height: 16px;
  display: block;
  background: url("../img/toolbar.png") no-repeat;
}

/* buttons icons */
.elfinder-button-icon-home {
  background-position: 0 0;
}

.elfinder-button-icon-back {
  background-position: 0 -112px;
}

.elfinder-button-icon-forward {
  background-position: 0 -128px;
}

.elfinder-button-icon-up {
  background-position: 0 -144px;
}

.elfinder-button-icon-reload {
  background-position: 0 -160px;
}

.elfinder-button-icon-open {
  background-position: 0 -176px;
}

.elfinder-button-icon-mkdir {
  background-position: 0 -192px;
}

.elfinder-button-icon-mkfile {
  background-position: 0 -208px;
}

.elfinder-button-icon-rm {
  background-position: 0 -224px;
}

.elfinder-button-icon-copy {
  background-position: 0 -240px;
}

.elfinder-button-icon-cut {
  background-position: 0 -256px;
}

.elfinder-button-icon-paste {
  background-position: 0 -272px;
}

.elfinder-button-icon-getfile {
  background-position: 0 -288px;
}

.elfinder-button-icon-duplicate {
  background-position: 0 -304px;
}

.elfinder-button-icon-rename {
  background-position: 0 -320px;
}

.elfinder-button-icon-edit {
  background-position: 0 -336px;
}

.elfinder-button-icon-quicklook {
  background-position: 0 -352px;
}

.elfinder-button-icon-upload {
  background-position: 0 -368px;
}

.elfinder-button-icon-download {
  background-position: 0 -384px;
}

.elfinder-button-icon-info {
  background-position: 0 -400px;
}

.elfinder-button-icon-extract {
  background-position: 0 -416px;
}

.elfinder-button-icon-archive {
  background-position: 0 -432px;
}

.elfinder-button-icon-view {
  background-position: 0 -448px;
}

.elfinder-button-icon-view-list {
  background-position: 0 -464px;
}

.elfinder-button-icon-help {
  background-position: 0 -480px;
}

.elfinder-button-icon-resize {
  background-position: 0 -512px;
}

.elfinder-button-icon-link {
  background-position: 0 -528px;
}

.elfinder-button-icon-search {
  background-position: 0 -561px;
}

.elfinder-button-icon-sort {
  background-position: 0 -577px;
}

.elfinder-button-icon-rotate-r {
  background-position: 0 -625px;
}

.elfinder-button-icon-rotate-l {
  background-position: 0 -641px;
}

.elfinder-button-icon-netmount {
  background-position: 0 -688px;
}

.elfinder-button-icon-netunmount {
  background-position: 0 -96px;
}

.elfinder-button-icon-places {
  background-position: 0 -704px;
}

.elfinder-button-icon-chmod {
  background-position: 0  -48px;
}

/* button with dropdown menu*/
.elfinder .elfinder-menubutton {
  overflow: visible;
}

/* button with spinner icon */
.elfinder-button-icon-spinner {
  background: url("../img/spinner-mini.gif") center center no-repeat;
}

/* menu */
.elfinder-button-menu {
  position: absolute;
  left: 0;
  top: 25px;
  padding: 3px 0;
}

/* menu item */
.elfinder-button-menu-item {
  white-space: nowrap;
  cursor: default;
  padding: 5px 19px;
  position: relative;
}

/* fix hover ui class */
.elfinder-button-menu .ui-state-hover {
  border: 0 solid;
}

.elfinder-button-menu-item-separated {
  border-top: 1px solid #cccccc;
}

.elfinder-button-menu-item .ui-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 2px;
  top: 50%;
  margin-top: -8px;
  display: none;
}

.elfinder-button-menu-item-selected .ui-icon {
  display: block;
}

.elfinder-button-menu-item-selected-asc .ui-icon-arrowthick-1-n, .elfinder-button-menu-item-selected-desc .ui-icon-arrowthick-1-s {
  display: none;
}

/* hack for upload button */
.elfinder-button form {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  filter: Alpha(Opacity=0);
  cursor: pointer;
}

.elfinder .elfinder-button form input {
  background: transparent;
  cursor: default;
}
.elfinder .elfinder-button-search {
  border: 0 solid;
  background: transparent;
  padding: 0;
  margin: 1px 4px;
  height: auto;
  min-height: 26px;
  float: right;
  width: 202px;
  overflow: visible;
}
.elfinder .elfinder-button-search .elfinder-button-menu {
  font-size: 8pt;
  text-align: center;
  width: 100%;
}
.elfinder .elfinder-button-search .elfinder-button-menu div {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}
.elfinder .elfinder-button-search .elfinder-button-menu div .ui-state-hover {
  border: 1px solid;
}

/* search "button" */
/* ltr/rte enviroment */
.elfinder-ltr .elfinder-button-search {
  float: right;
  margin-right: 10px;
}

.elfinder-rtl .elfinder-button-search {
  float: left;
  margin-left: 10px;
}

/* search text field */
.elfinder-button-search input {
  width: 160px;
  height: 22px;
  padding: 0 20px;
  line-height: 22px;
  border: 0 solid;
  border: 1px solid #aaaaaa;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  outline: 0px solid;
}

.elfinder-rtl .elfinder-button-search input {
  direction: rtl;
}

/* icons */
.elfinder-button-search .ui-icon {
  position: absolute;
  height: 18px;
  top: 50%;
  margin: -9px 4px 0 4px;
  opacity: .6;
  filter: Alpha(Opacity=60);
}

/* search/close icons */
.elfinder-ltr .elfinder-button-search .ui-icon-search {
  left: 0;
}

.elfinder-rtl .elfinder-button-search .ui-icon-search, .elfinder-ltr .elfinder-button-search .ui-icon-close {
  right: 0;
}

.elfinder-rtl .elfinder-button-search .ui-icon-close {
  left: 0;
}
